body {
  display: flex;
}
/* doodle jump */
.grid {
  display: none;
  width: 400px;
  height: 600px;
  background-image: url(https://images.alphacoders.com/106/1062064.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  font-size: 200px;
  text-align: center;
  color: #cc0000;
  font-family: 'Aldrich';
}

.doodler {
  width: 60px;
  height: 85px;
  background-image: url(https://blog.collegeboard.org/blog/styles/cb_post_square_thumbnail/public/2020-03/College-Board-Logo-Icon.jpg?h=48cc5edc&itok=U_HNbelF);
  position: absolute;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.platform {
  width: 85px;
  height: 15px;
  background-color: green;
  position: absolute;
}


/* flappy bird */
.game-container {
  display: none;
  width: 500px;
  height: 730px;
  position: absolute;
  left: 60px;
}
.borderLeft {
  width: 60px;
  height: 790px;
  position: absolute;
  background-color: white;
  z-index: +1;
}
.sky {
  display: none;
  background-color: blue;
  width: 500px;
  height: 580px;
  position: absolute;
}
.ground {
  display: none;
  background-color: brown;
  width: 500px;
  height: 180px;
  position: absolute;
  top: 550px;
  z-index: +1; 
}
.bird {
  display: none;
  background-color: yellow;
  position: absolute;
  width: 60px;
  height: 45px;
}
.obstacle {
  background-image: green;
  width: 60px;
  height: 300px;
  position: absolute;
}
.topObstacle {
  background-color: green;
  transform: rotate(180deg);
  width: 60px;
  height: 300px;
  position: absolute;
}